:root {
  --backgroundDark: rgb(24, 24, 24);
  --backgroundDarker: rgb(20, 20, 20);
  --blackTransparent: rgba(0, 0, 0, 0.877);
  --greyTransparent: rgba(20, 20, 20, 0.973);
  --darkGrey: rgba(78, 78, 78, 0.541);
  --lightGreyFont: rgb(128, 128, 128);
  --validGreen: rgb(28, 117, 32);
  --errorRed: rgb(235, 55, 55);
}

/* fonts */

@font-face {
  font-family: "NetflixSansBold";
  src: url(../assets/fonts/NetflixSansBold.ttf) format("truetype");
}

@font-face {
  font-family: "NetflixSansRegular";
  src: url(../assets/fonts/NetflixSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: "NetflixSansThin";
  src: url(../assets/fonts/NetflixSansThin.ttf) format("truetype");
}

/* ///// --- [ DEFAULT ] --- ///// */
* {
  font-size: 16px;
  font-family: "NetflixSansRegular";
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

body {
  color: white;
  background-color: var(--backgroundDark);
  font-size: 16px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* --- --- [ HEADER ] --- --- */
header {
  padding: 1% 1% 0 1%;
  background: linear-gradient(to top, transparent 0%, black 30%);
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  z-index: 2;
  display: flex;
}

.header__logo {
  position: relative;
  top: 3px;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.header__logo > img {
  min-width: 90px;
  max-width: 150px;
  cursor: pointer;
}

/* --- --- [ NAV ] --- --- */

nav {
  margin-left: 5%;
  width: 50%;
  position: relative;
  top: 3px;
  left: 30px;
}

.header__nav__menu {
  width: 80%;
  max-width: 600px;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: var(--greyTransparent);
  display: none;
  z-index: 4;
}

.header__nav__menu li {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
  display: block;
  text-align: center;
}

.header__nav__menu li:hover {
  background-color: #252222;
}

.header__nav--trigger {
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding-left: 10px;
}

/* .header__accountMenu--dropdown {
  position: absolute;
  right: -235px;
  top: -5px;
  background-color: var(--greyTransparent);
  padding: 5px;
  width: 80%;
  max-width: 600px;
} */

@media screen and (max-width: 884px) {
  .header__nav--trigger:hover ~ .header__nav__menu,
  .header__nav__menu:hover {
    display: block;
  }
}

/* --- --- [ SEARCH ] --- --- */

.header__searchBar--container {
  height: 35px;
  width: 40%;
  top: 5px;
  right: 80px;
  display: flex;
  position: absolute;
}

.focus__style {
  border: white 2px solid;
  border-radius: 5px;
  background-color: var(--backgroundDark);
}

.searchBar__btn {
  position: absolute;
  right: 0;
  z-index: 5;
  height: 100%;
  width: 50px;
  background: transparent;
  border: none;
}

.searchBar__icon {
  height: 50%;
  width: 100%;
}

.searchBar__btn:focus + .searchBar__input {
  width: 65%;
  background: var(--backgroundDark);
}

.searchBar__input:focus {
  width: 65%;
  background: var(--backgroundDark);
}

.searchBar__input {
  background: none;
  padding-inline: 10px;
  border: none;
  height: 100%;
  width: 0;
  z-index: 5;
}

.searchBar__input[type="text"] {
  color: white;
}

.searchBar__input::placeholder {
  padding-left: 5px;
  font-size: 0.9em;
}

/* --- --- [ SEARCH RESULTS ] --- --- */

.list__results--container {
  padding: 50px;
}

.list__results {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 0 0;
}

.list__results > div {
  padding: 15px;
}

.list__results--heading {
  font-family: "NetflixSansBold";
  font-size: 2em;
  padding-left: 20px;
}

.list__results--heading .pre--heading {
  cursor: pointer;
}

/* --- --- [ HOMEPAGE ] --- --- */
main {
  margin-top: 4%;
}

/* --- --- [ banners ] --- --- */

.banner--container {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
  background: var(--backgroundDark);
}

.banner__details--wrapper,
.banner__img {
  width: 100%;
}

.banner__details {
  padding: 5px 0;
}

.banner__bottom--inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.banner__bottom--inline.info {
  width: 100%;
}

.banner__bottom--inline.btns {
  width: 200px;
}

.banner__overview {
  font-style: italic;
}
.banner__heading {
  font-size: 3em;
  text-shadow: 0 0 5px black;
}

/* --- --- [ slider ] --- --- */

.homepage--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage__lists > h2 {
  margin: 40px 25px 0 25px;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "NetflixSansBold";
}

.homepage__sliders {
  overflow-x: auto;
  display: flex;
  padding: 20px 10px;
}

.homepage__sliders::-webkit-scrollbar-track {
  background-color: var(--backgroundDark);
}

.homepage__sliders::-webkit-scrollbar {
  height: 6px;
  background-color: var(--backgroundDark);
}

.homepage__sliders::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

/* --- --- [ MOVIE THUMBNAIL ] --- --- */
.thumbnail__container {
  width: 170px;
  padding: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.thumbnail__container:hover {
  background-color: var(--greyTransparent);
  box-shadow: 0px 8px 5px 2px rgba(0, 0, 0, 0.986);
  transform: scale(1.1);
}

.thumbnail__container:hover .thumbnail__details--wrapper {
  /* display: block; */
  visibility: visible;
  background-color: var(--greyTransparent);
}

.show__thumbnail {
  cursor: pointer;
}

.thumbnail__img {
  width: 130px;
}
.thumbnail__title,
.thumbnail__bottom > p {
  font-size: 0.8em;
}

.thumbnail__bottom {
  display: flex;
  justify-content: space-between;
}

.thumbnail__bottom > p {
  margin: 5px 15px 5px 0px;
  font-size: 0.8em;
}

.thumbnail__details--wrapper {
  background-color: var(--backgroundDarker);
  height: 100px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  /* display: none; */
}

/* --- --- [ GENRES ] --- --- */
.genre__list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.genre--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 1.2em;
  font-family: "NetflixSansThin";
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;

  height: 100px;
  width: 200px;
  margin: 10px;

  border: solid rgba(255, 255, 255, 0.781) 2px;
  border-radius: 10px;
  background-color: rgba(66, 64, 64, 0.205);
  transition: all 0.2s ease-in-out;
}

.genre--box:hover {
  background-color: rgba(104, 103, 103, 0.884);
  transform: scale(1.1);
  font-weight: bolder;
}

/* --- --- [ MOVIE PAGE ] --- --- */

.showInfo__container {
  background-color: var(--backgroundDarker);
  padding-inline: 0;
  position: fixed;
  bottom: 0;
  top: 10px;
  right: 0;
  left: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  z-index: 0;
}

.showInfo__background {
  background-color: var(--backgroundDark);
  padding-bottom: 20px;
}

/* --- [ movie recs ] ---  */
.showInfo__recs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

/* --- [ poster and headings container ] ---  */

.backdrop__alt {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- [ show details container ] ---  */

.list__inline {
  padding: 10px 0;
}

.list__inline > li:not(:last-child):after {
  content: "\002C";
  color: white;
}

.list__inline > li {
  padding: 0 5px;
}

.showInfo__details--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
}

.showInfo__details--list > h4 {
  color: rgb(126, 126, 126);
  font-weight: lighter;
}

.showInfo__details.bottom {
  border-top: solid rgb(139, 139, 139) 2px;
  display: flex;
  flex-direction: column;
}

/* .showInfo__details,
.showInfo__videos {
  background-color: var(--backgroundDark);
} */

.showInfo__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.showInfo__right,
.showInfo__left {
  margin-top: 20px;
  background: none;
}

.showInfo__right {
  width: 30%;
}

.showInfo__left {
  width: 70%;
}

.showInfo__left > *,
.showInfo__right > * {
  padding: 20px 20px 0 20px;
}

.showInfo__more {
  font-style: italic;
  color: white;
  margin: 10px 10px;
  float: right;
}

.moreBtn--container {
  float: right;
  width: 25%;
  display: flex;
  justify-content: left;
  padding: 10px 20px 0 20px;
}

/* --- [ movie left - list ] ---  */

.showInfo__left > ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding: 0 40px;
}

/* --- [ movie right - genres ] ---  */

.right--wrapper {
  display: flex;
}

/* --- [ BUTTONS ] ---  */

.btn--circle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: white;
  border: rgba(211, 208, 208, 0.623) solid 2px;
  background: rgba(37, 37, 37, 0.404);
}

.btn--circle:hover {
  border: white solid 2px;
  background: rgba(104, 104, 104, 0.534);
}

.btn__exit {
  position: absolute;
  top: 40px;
  right: 30px;
  border: rgb(15, 15, 15) solid 2px;
  background: rgb(15, 15, 15);
}

.show__btns {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.btn__watch::before {
  content: "\25B6";
  padding-right: 15px;
  font-size: 1.7em;
}

.btn__watch {
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0px 20px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.btn__moreInfo {
  width: 100px;
  height: 50px;
  background-color: rgba(77, 77, 77, 0.623);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.8em;
  font-family: "NetflixSansBold";
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__moreInfo::before {
  content: "\1f6c8";
  color: white;
  font-size: 1.5em;
  padding-right: 5px;
}

.btn__moreInfo:hover {
  background-color: rgba(56, 56, 56, 0.623);
  cursor: pointer;
}

/* --- [ VIDEOS ] ---  */
.showInfo__videos {
  width: 100%;
}

.showInfo__subHeading {
  padding: 40px 0 20px 40px;
  font-size: 2em;
}
.showInfo__trailers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.trailer--content {
  margin: 10px;
}
