@media screen and (min-width: 630px) {
  nav {
    left: 0;
    margin-left: 5%;
    top: 0;
  }

  .header__logo {
    position: unset;
  }

  .header__nav__menu {
    padding: 0;
  }

  .header__searchBar--container {
    height: 45px;
    width: 370px;
    right: 120px;
  }

  .navRight__dropDown--trigger {
    right: 60px;
    top: 8px;
  }

  .searchBar__btn:focus + .searchBar__input {
    width: 300px;
  }

  .searchBar__input:focus {
    width: 300px;
  }

  .nav__signIn__btn {
    top: 10px;
    right: 50px;
    padding: 5px 10px;
  }

  .signUp__field__requirements {
    width: 270px;
    position: relative;
    top: -30px;
  }

  .signUp__field__requirements > li {
    font-size: 0.8em;
    padding: 2px;
  }

  /* BANNER */

  .btn__exit {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .banner--container {
    position: relative;
  }

  .banner__details--wrapper {
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--backgroundDark) 90%
    );
  }

  .banner__heading {
    padding: 5px 0 20px 0;
  }

  .banner__details {
    position: absolute;
    bottom: 0px;
    padding: 5px 50px;
  }

  .banner__bottom--inline.info {
    width: 500px;
  }

  .btn__moreInfo {
    width: 180px;
    font-size: 1.1em;
  }

  .btn__moreInfo::before {
    font-size: 2em;
    padding-right: 10px;
  }

  /* THUMBNAIL */
  .thumbnail__img {
    width: 170px;
  }

  .thumbnail__bottom > p {
    font-size: 1em;
  }

  .thumbnail__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }

  .thumbnail__details--wrapper {
    width: 170px;
    padding: 0 15px 15px 15px;
  }

  .showInfo__left > *,
  .showInfo__right > * {
    padding: 20px 20px 0 40px;
  }
}

@media screen and (min-width: 885px) {
  .header__nav--trigger {
    display: none;
  }

  .header__nav__menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    top: -5px;
    background: none;
  }

  .header__nav__menu li:hover {
    background: none;
  }

  .showInfo__background {
    margin: 0 200px;
  }

  .header__searchBar--container {
    right: 150px;
  }

  .nav__signIn__btn {
    top: 10px;
    right: 70px;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 1420px) {
  /* movie info */

  .movie__container {
    padding-inline: 200px;
  }
}
